:root {
  --brand-color-black: #212121;
  --brand-color-grey: #757575;
  --brand-color-lightgrey: #afb1b8;
  --brand-color-white: #fff;
  --brand-color-blue: #2196f3;
  --brand-color-dark: #2f303a;
  --filters-color: #f5f4fa;
  --border-radius-default: 4px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--brand-color-white);
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ececec solid 1px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

figure {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navigation {
  display: flex;
  flex: 1;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--brand-color-dark);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style-type: none;
}

.studio-head {
  font-size: 36px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--brand-color-blue);
}

.logo-color:hover {
  color: var(--brand-color-blue);
}

.logo:visited {
  color: #000;
}

/* NAVIGATION */
.header-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-item {
  margin-right: 46px;
  display: inline;
}

.header-item:last-child {
  margin-right: 0;
}

.navigation .nav-font {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.14;
  text-decoration: none;
  color: var(--brand-color-black);
  letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus,
.navigation:active {
  color: var(--brand-color-blue);
}

/* CONTACT */

.contact {
  font-weight: 500;
  color: #757575;
  font-size: 0.9rem;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-item {
  display: inline;
  margin-right: 50px;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-link {
  color: var(--brand-color-grey);
  fill: var(--brand-color-grey);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: var(--brand-color-blue);
  fill: var(--brand-color-blue);
}

.contact-link {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: 10px;
}

.address-list {
  padding-left: 0px;
  padding-top: 20px;
}

.address-item {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

.address-link {
  color: var(--brand-color-white);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--brand-color-white);
}

.address-item span {
  text-decoration: underline;
}

/* FIRST SECTION */
.first-sec {
  background-color: var(--brand-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/first-sec-underlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-sec-content {
  text-align: center;
  width: 700px;
}

.primary {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4em;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: var(--brand-color-white);
}

.order-button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9em;
  width: 200px;
  min-height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 4px;
  color: var(--brand-color-white);
  background-color: var(--brand-color-blue);
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  background-color: var(--brand-color-white);
  color: var(--brand-color-blue);
}

/* SECOND SECTION */
.lorem {
  padding-top: 94px;
  padding-bottom: 94px;
}

.lorem-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.below-lorem {
  font-size: 14px;
  line-height: 1.7em;
  color: var(--brand-color-grey);
}

.lorem-item {
  max-width: 270px;
  display: inline-block;
  margin-right: 20px;
}

.lorem-item:last-child {
  margin-right: 0;
}

.lorem-box {
  background-color: #f5f4fa;
  border-radius: var(--border-radius-default);
  padding: 25px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* OFFER SECTION */

.offer {
  text-align: center;
}

.offer-item {
  display: inline-block;
  margin-right: 0;
}

.offer-item:last-child {
  margin-right: 0;
}

/* TEAM SECTION */
.our_team {
  display: block;
  padding-left: 200px;
  padding-right: 200px;
  background: var(--filters-color);
}

.our_team_header {
  display: flex;
  justify-content: space-evenly;
  margin: 0 495px 50px;

  width: 210px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--brand-color-black);
}

.our_team_box {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 30px;
  width: 270px;
  background-color: var(--brand-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our_team-list {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.our_team-figcaption {
  display: inline-block;
  width: 270px;
}

.our_team_name-text {
  display: flex;
  margin: 30px auto 10px;
  width: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
}

.our_team_position-text {
  display: flex;
  margin: 10px auto 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--brand-color-grey);
}

.our_team_text-1 {
  width: 130px;
}

.our_team_text-2 {
  width: 147px;
}

.our_team_text-3 {
  width: 76px;
}

.our_team_text-4 {
  width: 87px;
}

.social_media-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 206px;
  gap: 10px;
  margin: 0px 32px 18px;
}

.social_media-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--brand-color-white);
  fill: var(--brand-color-lightgrey);
}

.social_media-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--brand-color-white);
  fill: var(--brand-color-lightgrey);
}

.social_media-icon:hover svg {
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--brand-color-blue);
  fill: var(--brand-color-white);
  transition: 0.3s;
}

.social_media-icon:focus-within svg {
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--brand-color-blue);
  fill: var(--brand-color-white);
  transition: 0.3s;
}

/* CLIENTS */
.clients {
  padding-top: 94px;
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-item {
  margin-right: 30px;
  padding: 16px 32px;
  border: 1px solid var(--brand-color-lightgrey);
  border-radius: var(--border-radius-default);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item:hover .clients-link .clients-icon {
  fill: var(--brand-color-lightgrey);
}

/* PORTFOLIO */
.submenu-list {
  margin: auto;
  width: 580px;
  padding: 94px 0 50px 0;
}

.submenu-list > ul {
  display: flex;
  justify-content: space-around;
}

.submenu-item {
  list-style-type: none;
}

.btn {
  background-color: #f5f4fa;
  min-height: 38px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: var(--border-radius-default);
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--brand-color-blue);
  color: var(--brand-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PROJECTS */
.projects-list {
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 20px;
}

.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-photo > img {
  vertical-align: middle;
}

.projects-description {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 24px;
}

.projects-description > h3 {
  line-height: 2em;
}

.projects-description > p {
  color: var(--brand-color-grey);
  line-height: 2em;
}
/* FOOTER */
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--brand-color-white);
}

.address-list {
  padding-left: 0px;
  padding-top: 20px;
}

.address-item {
  color: var(--brand-color-white);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7em;
  letter-spacing: 0.03em;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--brand-color-white);
}

.address-item span {
  text-decoration: underline;
}

.footer-social {
  margin-left: 70px;
}

.footer-social > p {
  color: var(--brand-color-white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer-social-icon {
  fill: var(--brand-color-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-icon:hover {
  background-color: var(--brand-color-blue);
}
